# SPDX-FileCopyrightText: 2026 Pierre-Noel Bouteville <pnb990@gmail.com>
#
# SPDX-License-Identifier: BSD-3-Clause

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0,<5.0.0.0"
django-bootstrap4 = "*"
django-cleanup = "*"
django-jsonify = "*"
django-dbbackup = "*"
django-money = "*"
django-phone-field = "*"
django-mptt = "*"
django-view-breadcrumbs = "*"
django-extensions = "*"
#psycopg2 ="<3.0.0.0,>=2.7.0.0"
psycopg2-binary = "*"
whitenoise = "*"
pillow = "*"
legacy-cgi = "*"
pyyaml = "*"


[dev-packages]
gunicorn = "*"
pycodestyle = "*"
pylint = "*"
black = "*"
reuse = "*"
astroid = ">=3.2.2"
docutils = "*"
pydotplus = "*"
pylint-django = "*"
django-debug-toolbar = "*"
django-stubs = "*"

[requires]
python_version = "3"
