[Unit]
Description=PNB PartKeepr Service
#After=network-online.target
After=postgresql.service

[Service]
Type=simple

#Environment=PATH="${PATH}:/opt/node/bin"
#Environment=RUN_MAIN=True
WorkingDirectory=/usr/local/PnbPartKeeper/PyPnbPartKeepr/

User=pnb666
Group=pnb666
UMask=007

ExecStart=/usr/local/PnbPartKeeper/venv/bin/daphne -b 0.0.0.0 -p 8086 PyPnbPartKeepr.wsgi:application

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target


