{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block page-anonymous %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-log-in">
        </span>
        {% trans 'Change my password' %}
    </button>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
