{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block page-anonymous %}
<h1>{% trans "Reset your password" %}</h1>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-envelope">
        </span>
        {% trans 'Reset my password' %}
    </button>
</form>
{% endblock %}
