
.pnbpartkeepr-search-bar
{
    background:#00efb2;
    border-radius:4px;
}

.pnbpartkeepr-search-title
{
    font-size: 20px;
}

.pnbpartkeepr-search-item
{
    background:#00bc8c;
}

.pnbpartkeepr-elem-list
{
    font-size:12px;
}

.pnbpartkeepr-elem-list td,span
{
    vertical-align: middle;
}

.pnbpartkeepr-cell-img
{
    min-width:100px;
}

.pnbpartkeepr-cell-img img
{
    padding: 0px;
    max-height: 40px;
    max-width:100px;
}

.pnbpartkeepr-cell-link:hover
{
    background:#00efb2;
}

.pnbpartkeepr-elem-icon
{
    padding: 0px;
    height: 200px;
}

.pnbpartkeepr-detail-image
{
    max-height: 400px;
    max-width: 400px;
}

.fas
{
    color:white;
}

li .active
{
    color:white;
    background:#00efb2;
    border-radius:4px;
}


