
.pnbpartkeepr-elem-list-icon
{
    padding: 0px;
    height: 25px;
}

.pnbpartkeepr-elem-icon
{
    padding: 0px;
    height: 200px;
}

.pnbpartkeepr-detail-image
{
    height: 400px;
    width: 400px;
}

.fas
{
    color:white;
}

/*
ul
{
    color:white;
    background:#00bc8c;
}

li .nav-item
{
    color:white;
}
*/

li .active
{
    color:white;
    background:#00efb2;
    border-radius:4px;
}


