{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

<div>
    <div>
        <h2>{% trans "attachments" %}</h2>
    </div>
{% for f in object_list %}
    <div>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ f.description|truncatewords:100 }}">
            <a href="{{ f.content.url }}">
                {{ f.filename }}
            </a>
        </span>
        <a href={{ f.get_absolute_url }} >
            <button class="btn btn-primary">
                <span class="fas fa-eye" ></span>
            </button>
        </a>
        <a href={{ f.get_absolute_update_url }} >
            <button class="btn btn-warning">
                <span class="fas fa-edit"></span>
            </button>
        </a>
        <a href={{ f.get_absolute_delete_url }} >
            <button class="btn btn-danger">
                <span class="fas fa-trash" ></span>
            </button>
        </a>
    </div>
{% empty %}
    {% trans "No attachment" %}
{% endfor %}
</div>

