{% load i18n %}
{% load bootstrap4 %}

<div class="d-flex justify-content-around">
{% if object.get_name_url not in request.resolver_match.view_name %}
<a href={{ object.get_absolute_url }} >
    <button class="btn btn-primary">
        <span class="fas fa-eye" ></span>
        {% trans "View" %}
    </button>
</a>
{% endif %}

{% if object.get_name_update_url not in request.resolver_match.view_name %}
<a href={{ object.get_absolute_update_url }} >
    <button class="btn btn-warning">
        <span class="fas fa-edit"></span>
        {% trans "Modify" %}
    </button>
</a>
{% endif %}

{% if object.get_addattachment_url %}
<a href={{ object.get_addattachment_url }} >
    <button class="btn btn-info">
        <span class="fas fa-plus" ></span>
        {% trans "Add file" %}
    </button>
</a>
{% endif %}

{% if object.get_name_delete_url not in request.resolver_match.view_name %}
<a href={{ object.get_absolute_delete_url }} >
    <button class="btn btn-danger">
        <span class="fas fa-trash" ></span>
        {% trans "Delete" %}
    </button>
</a>
{% endif %}

</div>

