{% load i18n %}
{% load bootstrap4 %}

<div class="d-flex justify-content-around">
{% if not elem.get_absolute_url  in request.resolver_match.view_name %}
<a href={{ elem.get_absolute_url }} >
    <button class="btn btn-primary">
        <span class="fas fa-eye" ></span>
        {% trans "View" %}
    </button>
</a>
{% endif %}

{% if not elem.get_absolute_update_url  in request.resolver_match.view_name %}
<a href={{ elem.get_absolute_update_url }} >
    <button class="btn btn-warning">
        <span class="fas fa-edit"></span>
        {% trans "Modify" %}
    </button>
</a>
{% endif %}

{% if not elem.get_absolute_delete_url  in request.resolver_match.view_name %}
<a href={{ elem.get_absolute_delete_url }} >
    <button class="btn btn-danger">
        <span class="fas fa-trash" ></span>
        {% trans "Delete" %}
    </button>
</a>
{% endif %}
</div>

