{% load bootstrap4 %}
{% load font_awesome %}

{% with entity|add:"_detail" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        {% fa "fa-eye" %}
    </button>
</a>
{% endif %}
{% endwith %}

{% with entity|add:"_update" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        {% fa "fa-edit" %}
    </button>
</a>
{% endif %}
{% endwith %}

{% with entity|add:"_delete" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        {% fa "fa-remove" %}
    </button>
</a>
{% endif %}
{% endwith %}

