{% load i18n %}

{% if elem %}
    <td class="pnbpartkeepr-cell pnbpartkeepr-cell-link"
     onclick="document.location='{{ elem.get_absolute_url }}';" >
        <span class="pnbpartkeepr-cell-img">
        {% if elem.image %}
        <a href={{ elem.image.url }} >
            <img 
            src="{{ elem.image.url }}" 
            alt="element image" 
            />
        </a>
        {% else %}
            <span class="fas fa-image fa-3x" ></span>
        {% endif %}
        </span>
        <a href={{ elem.get_absolute_url }} >
            {{ elem.name }}
        </a>
    </td>
{% else %}
    <td>{% trans "" %}</td>
{% endif %}

