{% load bootstrap4 %}

{% with entity|add:"_detail" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        <span class="fas fa-eye" ></span>
    </button>
</a>
{% endif %}
{% endwith %}

{% with entity|add:"_update" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        <span class="fas fa-edit"></span>
    </button>
</a>
{% endif %}
{% endwith %}

{% with entity|add:"_delete" as url_name %}
{% if not url_name in request.resolver_match.view_name %}
<a href={% url url_name pk=id %} >
    <button class="btn btn-defaults">
        <span class="fas fa-trash" ></span>
    </button>
</a>
{% endif %}
{% endwith %}

