{% load i18n %}

{% if elem %}
    <td class="pnbpartkeepr-elem-list-link"
     onclick="document.location='{{ elem.get_absolute_url }}';" >
        <a href={{ elem.get_absolute_url }} >
            {% if elem.image %}
                <img class="pnbpartkeepr-elem-list-icon"
                     src="{{ elem.image.url }}"
                     alt="element image"
                     />
            {% else %}
                <span class="fas fa-image fa-3x" ></span>
            {% endif %}
            {{ elem.name }}
        </a>
    </td>
{% else %}
    <td>{% trans "" %}</td>
{% endif %}

