{% load i18n %}

<td class="pnbpartkeepr-cell pnbpartkeepr-cell-link"
    onclick="document.location='{% url elem.get_object_url_name|add:"category.list" pk=elem.id %}';" 
    data-toggle="tooltip" 
    data-placement="top" 
    data-html="true"
    title="
        {% for i in elem.get_descendants %}
        {{ i|truncatechars:15 }}</br>
        {% empty %}
        {% trans "empty" %}
        {% endfor %}
    "
    >
    <a href={% url elem.get_object_url_name|add:"category.list" pk=elem.id %} >
        {{ elem.get_descendant_count }}
    </a>
</td>

