{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block page-header %}
{% blocktrans with id=object.id %}Delete {{ object }} ({{ id }}), are you sure?{% endblocktrans %}
{% endblock %}

{% block page-content %}
<form method="post" action="">
   {% csrf_token %}
   <p>
   <label for="imsure">{% trans "Yes! I'm sure!" %}</label><input id="imsure" type="checkbox" name="imsure" /> 
   </p>
   <p>
   <button type="submit" class="btn btn-primary" onclick="return $(':imsure:checked')"
       >{% trans "Yes" %}</button>
   </p>
</form>
<a href="{{ object.get_absolute_url }}">
   <button class="btn btn-default">{% trans "No" %}</button>
</a>
{% endblock %}
