{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Web site"         %}</th>
        <th scope="col">{% trans "For report"       %}</th>
        <th scope="col">{% trans "phone"            %}</th>
        <th scope="col">{% trans "fax"              %}</th>
        <th scope="col">{% trans "email"            %}</th>
        <th scope="col">{% trans "address"          %}</th>
        <th scope="col">{% trans "comment"          %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list" >
        <td>{{ e.id }}</td>
        {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=e %}
        {% include "PnbPartKeepr/cell_url.html"             with elem=e %}
        <td>{{ e.forReports|yesno }}</td>
        {% include "PnbPartKeepr/cell_phone.html"           with number=e.phone icon="phone" %}
        {% include "PnbPartKeepr/cell_phone.html"           with number=e.fax icon="fax" %}
        {% include "PnbPartKeepr/cell_email.html"           with elem=e %}
        {% include "PnbPartKeepr/cell_address.html"         with elem=e %}
        {% include "PnbPartKeepr/cell_comment.html"         with elem=e %}
        {% include "PnbPartKeepr/cell_action.html"          with elem=e %}
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No distributor" %}
    {% endfor %}
</table>
{% endblock %}

{% block page-footer %}
<a href="{% url "pnbpartkeepr.distributor.create" %}">
    <button class="btn btn-primary">
        <span class="fas fa-plus"></span>
        {% trans 'Add a New one' %}
    </button>
</a>
{% endblock %}
