{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Footprint attachament" %} {{object.id}}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Filename" %}</th>
            <td>{{ object.content.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Footprint" %}</th>
            {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=object.footprint %}
        </tr>
        <tr>
            <th>{% trans "Uploaded" %}</th>
            {% include "PnbPartKeepr/cell_date.html" with eDate=object.uploadedAt %}
        </tr>
        <tr>
            <th>{% trans "Description" %}</th>
            <td>{{ object.description }}</td>
        </tr>
    </table>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

