{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
<div class="d-flex justify-content-between">
    {% trans "Footprints" %}
    <a href={% url "PnbPartKeepr_footprint_create" %} >
        <button class="btn btn-primary">
            <span class="fas fa-plus"></span>
            {% trans 'Add a New one' %}
        </button>
    </a>
</div>
{% endblock %}

{% block page-content %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Image"            %}</th>
        <th scope="col">{% trans "Description"      %}</th>
        <th scope="col">{% trans "Category"         %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for f in object_list %}
    {% comment %}

    {% endcomment %}
    <tr onclick="document.location='{% url "PnbPartKeepr_footprint_detail" pk=f.id %}';" >
        <td>{{ f.id }}</td>
        <td>{{ f.name }}</td> 
        <td>{% include "PnbPartKeepr/cell_img.html"     with elem=f.storageLocation                  %}</td>
        <td>{{ f.description }}</td> 
        <td>{% include "PnbPartKeepr/cell_name.html"    with elem=f.category                         %}</td>
        <td>{% include "PnbPartKeepr/cell_action.html"  with id=f.id entity="PnbPartKeepr_footprint" %}</td>
    </tr>
    {% empty %}
    {% trans "No footprint" %}
    {% endfor %}
</table>
{% endblock %}

