{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "SubCategory"      %}</th>
        <th scope="col">{% trans "Footprints"       %}</th>
        <th scope="col">{% trans "Description"      %}</th>
        <th scope="col">{% trans "Parent"           %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list" 
        >
        <td>{{ e.id }}</td>
        <td class="pnbpartkeepr-elem-list-link"
        onclick="document.location='{% url "pnbpartkeepr.footprintcategory.detail" pk=e.id %}';" 
        >{{ e.name|default:"No name" }}</td>
        <td class="pnbpartkeepr-elem-list-link"
        onclick="document.location='{% url "pnbpartkeepr.footprintcategory.list" pk=e.id %}';" 
        >{{ e.get_descendant_count }}</td>
        <td class="pnbpartkeepr-elem-list-link"
        onclick="document.location='{% url "pnbpartkeepr.footprint.list" %}?category_id={{ e.id }}';" 
        >{{ e.get_footprint_nbr }}</td>
        <td>{{ e.description|default:"No description"|truncatechars:40 }}</td>
        <td>{% include "PnbPartKeepr/cell_name.html" with elem=e.parent %}</td>
        <td>{% include "PnbPartKeepr/cell_action.html" with elem=e %}</td>
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No footprint category" %}
    {% endfor %}
</table>
{% endblock %}

{% block page-footer %}
<a href="{% url "pnbpartkeepr.footprintcategory.create" %}">
    <button class="btn btn-primary">
        <span class="fas fa-plus"></span>
        {% trans 'Add a New one' %}
    </button>
</a>
{% endblock %}
