{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Footprint" %} {{ object.id }}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Name"             %}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Category"         %}</th>
            <td>{{ object.category.path  }}</td>
        </tr>
    </table>
</div>
<div>
    <table class="table">
        <tr>
            <td>{% include "PnbPartKeepr/detail_img.html" with elem=object %}</td>
            <td>
                {% include "PnbPartKeepr/attachment_list.html" with file_list=object.footprintattachment_set.all %}
            </td>
        </tr>
    </table>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

