{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
<div class="d-flex justify-content-around pnbpartkeepr-search-bar">
    <div class="pnbpartkeepr-search-item">
        <div class="pnbpartkeepr-search-title">
            {% trans "Projects" %}
        </div>
    </div>
    <div class="pnbpartkeepr-search-item">
            {% include "PnbPartKeepr/search_list.html" with name="name"         value=request.GET.name%}
    </div>
    <div class="pnbpartkeepr-search-item">
        {% include "PnbPartKeepr/search_list.html" with name="footprint"    value=request.GET.footprint%}
    </div>
    <div class="pnbpartkeepr-search-item">
        {% include "PnbPartKeepr/search_list.html" with name="description"  value=request.GET.description%}
    </div>
    <div class="pnbpartkeepr-search-item">
        <a href="{% url "pnbpartkeepr.manufacturer.create" %}">
            <button class="btn btn-primary">
                <span class="fas fa-plus"></span>
                {% trans 'Add a New one' %}
            </button>
        </a>
    </div>
</div>
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Owner"            %}</th>
        <th scope="col">{% trans "Desciption"       %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>
    {% for p in object_list %}
    {% comment %}
    {% endcomment %}
    <tr onclick="document.location='{{ p.get_absolute_url }}';" 
        class="pnbpartkeepr-elem-list"
        >
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.owner }}</td>
        <td>{{ p.description|truncatechars:40 }}</td>
        <td>{% include "PnbPartKeepr/cell_action.html"   with elem=p %}</td>
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No part" %}
    {% endfor %}
</table>
{% endblock %}

