{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Manufacturer" %} {{object.name|default:"No Name"}}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Address" %}</th>
            <td>{{ object.address|default:"No Address" }}</td>
        </tr>
        <tr>
            <th>{% trans "Web Site" %}</th>
            {% include "PnbPartKeepr/cell_url.html" with elem=object %}
        </tr>
        <tr>
            <th>{% trans "Phone" %}</th>
            {% include "PnbPartKeepr/cell_phone.html" with number=object.phone icon="phone" %}
        </tr>
        <tr>
            <th>{% trans "fax" %}</th>
            {% include "PnbPartKeepr/cell_phone.html" with number=object.fax icon="fax" %}
        </tr>
        <tr>
            <th>{% trans "email" %}</th>
            {% include "PnbPartKeepr/cell_email.html" with elem=object %}
        </tr>
    </table>
</div>
<div class="d-flex justify-content-around">
    <div>
        {% if object.image %}
        <img src="{{ object.image.url }}"/>
        {% else %}
        <span class="fas fa-image fa-10x" />
        {% endif %}
    </div>
    <div>
        <div>{% trans "comment" %}</div>
        <div>{{ object.comment|default:"No comment" }}</div>
    </div>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

