{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Name"            %}</th>
            <td>{{ part.name }}</td>

            <th>{% trans "Footprint"       %}</th>
            <td>{% include "PnbPartKeepr/cell_img_name_link.html" with entity="PnbPartKeepr_footprint" elem=part.footprint %}</td>

            <th>{% trans "Created"         %}</th>
            <td>{{ part.createDate|naturaltime }}</td>
        </tr>

        <th>{% trans "Average price"    %}</th>
        <td>{{ part.averagePrice       }}</td>

        <th>{% trans "Stock"%}</th>
        <td>
            <th>{% trans "level"       %}</th>
            <td>{{ part.stockLevel     }}</td>

            <th>{% trans "Minimum"     %}</th>
            <td>{{ part.minStockLevel  }}</td>
        </td>

        <th>{% trans "Stock location"   %}</th>
        <td>{% include "PnbPartKeepr/cell_img_name_link.html" with entity="PnbPartKeepr_storageLocation" elem=part.storageLocation %}</td>

        <th>{% trans "Category"         %}</th>
        <td>{% include "PnbPartKeepr/cell_name.html" with elem=part.category %}</td>

        <th>{% trans "Image"       %}</th>
        <td>{{ part.image          }}</td>

        <th>{% trans "Description" %}</th>
        <td>{{ part.description    }}</td>

        <th>{% trans "Comment"     %}</th>
        <td>{{ part.comment        }}</td>
    </dl>
    {% include "PnbPartKeepr/cell_action.html" with id=part.id entity="PnbPartKeepr_part" %}
</div>
{% endblock %}

