{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Part" %} {{part.id}}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Name"            %}</th>
            <td>{{ part.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Footprint"       %}</th>
            <td>{% include "PnbPartKeepr/cell_img_name_link.html" with elem=part.footprint %}</td>
        </tr>
        <tr>
            <th>{% trans "Created"         %}</th>
            <td>{{ part.createDate|naturaltime }}</td>
        </tr>
        <tr>
            <th>{% trans "Average price"    %}</th>
            <td>{{ part.averagePrice       }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock"%} {% trans "level"       %}</th>
            <td>{{ part.stockLevel     }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock"%} {% trans "Minimum"     %}</th>
            <td>{{ part.minStockLevel  }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock location"   %}</th>
            <td>{% include "PnbPartKeepr/cell_img_name_link.html" with elem=part.storageLocation %}</td>
        </tr>
        <tr>
            <th>{% trans "Category"         %}</th>
            <td>{% include "PnbPartKeepr/cell_name.html" with elem=part.category %}</td>
        </tr>
            <th>{% trans "Description" %}</th>
            <td>{{ part.description    }}</td>
        </tr>
        <tr>
            <th>{% trans "Comment"     %}</th>
            <td>{{ part.comment        }}</td>
        </tr>
    </table>
</div>
<div>
    <table class="table">
        <tr>
            <td>
                {% if part.image %}
                <img src="{{ part.image.url }}"/>
                {% else %}
                <span class="fas fa-image" />
                {% endif %}
            </td>
            <td>
                {% include "PnbPartKeepr/attachment_list.html" with file_list=part.partattachment_set.all %}
            </td>
        </tr>
    </table>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

