{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
<div class="d-flex justify-content-around pnbpartkeepr-search-bar">
    <div class="pnbpartkeepr-search-item">
        <div class="pnbpartkeepr-search-title">
            {% trans "Part Categories list" %}
        </div>
    </div>
    <div class="pnbpartkeepr-search-item">
        {% include "PnbPartKeepr/search_list.html" with name="name"         value=request.GET.name%}
    </div>
    <div class="pnbpartkeepr-search-item">
        {% include "PnbPartKeepr/search_list.html" with name="description"  value=request.GET.description%}
    </div>
    <div class="pnbpartkeepr-search-item">
        <a href="{% url "pnbpartkeepr.partcategory.create" %}">
            <button class="btn btn-primary">
                <span class="fas fa-plus"></span>
                {% trans 'Add a New one' %}
            </button>
        </a>
    </div>
</div>
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Parent"           %}</th>
        <th scope="col">{% trans "Description"      %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for pc in object_list %}
    {% comment %}
    {% endcomment %}
    <tr onclick="document.location='{{ pc.get_absolute_url }}';" 
        class="pnbpartkeepr-elem-list"
        >
        <td>{{ pc.id }}</td>
        <td>{{ pc.name }}</td>
        <td>{% include "PnbPartKeepr/cell_name.html"     with elem=pc.parent %}</td>
        <td>{{ pc.description }}</td>
        <td>{% include "PnbPartKeepr/cell_action.html"   with elem=pc %}</td>
    </tr>
    {% empty %}
    {% trans "No Part" %}
    {% endfor %}
</table>
{% endblock %}

