{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Footprint"        %}</th>
        <th scope="col">{% trans "Description"      %}</th>
        <th scope="col">{% trans "Stock level"      %}</th>
        <th scope="col">{% trans "Min Stock level"  %}</th>
        <th scope="col">{% trans "Stock location"   %}</th>
        <th scope="col">{% trans "Category"         %}</th>
        <th scope="col">{% trans "Created"          %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list" >
        <td>{{ e.id }}</td>
        {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=e %}
        {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=e.footprint %}
        {% include "PnbPartKeepr/cell_description.html"     with elem=e %}
        {% include "PnbPartKeepr/cell_stockLevel.html"      with elem=e %}
        <td>{{ e.minStockLevel  }}</td>
        {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=e.storageLocation %}
        {% include "PnbPartKeepr/cell_name_link.html"       with elem=e.category %}
        {% include "PnbPartKeepr/cell_date.html"            with eDate=e.createDate %}
        {% include "PnbPartKeepr/cell_action.html"          with elem=e %}
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No part" %}
    {% endfor %}
</table>
{% endblock %}

{% block page-footer %}
<a href="{% url "pnbpartkeepr.part.create" %}">
    <button class="btn btn-primary">
        <span class="fas fa-plus"></span>
        {% trans 'Add a New one' %}
    </button>
</a>
{% endblock %}
