{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Part" %} {{object.name|default:"No Name"}}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "Footprint"       %}</th>
            <td>{% include "PnbPartKeepr/cell_img_name_link.html" with elem=object.footprint %}</td>
        </tr>
        <tr>
            <th>{% trans "Created"         %}</th>
            <td>{{ object.createDate|naturaltime }}</td>
        </tr>
        <tr>
            <th>{% trans "Average price"    %}</th>
            <td>{{ object.averagePrice       }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock"%} {% trans "level"       %}</th>
            <td>{{ object.stockLevel     }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock"%} {% trans "Minimum"     %}</th>
            <td>{{ object.minStockLevel  }}</td>
        </tr>
        <tr>
            <th>{% trans "Stock location"   %}</th>
            <td>{% include "PnbPartKeepr/cell_img_name_link.html" with elem=object.storageLocation %}</td>
        </tr>
        <tr>
            <th>{% trans "Category"         %}</th>
            <td>{% include "PnbPartKeepr/cell_name.html" with elem=object.category %}</td>
        </tr>
        <tr>
            <th>{% trans "Description" %}</th>
            <td>{{ object.description    }}</td>
        </tr>
        <tr>
            <th>{% trans "Comment"     %}</th>
            <td>{{ object.comment        }}</td>
        </tr>
    </table>
</div>
<div>
    <table class="table">
        <tr>
            <td>
                {% if object.image %}
                <img src="{{ object.image.url }}"/>
                {% else %}
                <span class="fas fa-image" />
                {% endif %}
            </td>
            <td>
                {% include "PnbPartKeepr/attachment_list.html" with object_list=object.partattachment_set.all %}
            </td>
        </tr>
    </table>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

