{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Owner"            %}</th>
        <th scope="col">{% trans "Desciption"       %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list" >
        <td>{{ e.id }}</td>
        {% include "PnbPartKeepr/cell_name_link.html"   with elem=e %}
        {% include "PnbPartKeepr/cell_user.html"        with elem=e.owner %}
        {% include "PnbPartKeepr/cell_description.html" with elem=e %}
        {% include "PnbPartKeepr/cell_action.html"      with elem=e %}
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No Project" %}
    {% endfor %}
</table>
{% endblock %}

{% block page-footer %}
<a href="{% url "pnbpartkeepr.project.create" %}">
    <button class="btn btn-primary">
        <span class="fas fa-plus"></span>
        {% trans 'Add a New one' %}
    </button>
</a>
{% endblock %}
