{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "date"             %}</th>
        <th scope="col">{% trans "Project"          %}</th>
        <th scope="col">{% trans "Quantity"         %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>
    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list" >
        <td>{{ e.id }}</td>
        {% include "PnbPartKeepr/cell_date.html"        with eDate=e.runDateTime %}
        {% include "PnbPartKeepr/cell_name_link.html"   with elem=e %}
        <td>{{ e.quantity }}</td>
        {% include "PnbPartKeepr/cell_action.html"      with elem=e %}
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No run" %}
    {% endfor %}
</table>
{% endblock %}

