{% load i18n %}

{% if search_fields %}
<form class="form-inline d-flex justify-content-around pnbpartkeepr-search-bar" type="get" action="list" >
    {% for search in search_fields %}
    <div class="form-group" >
        <label for="{{search.name}}">
            {% trans search.name %}
        </label>
        <input 
        id="{{search.name}}" 
        class="form-control" 
        type="text" 
        name="{{search.name}}" 
        placeholder="{% trans search.name %}..."
        {% if search.val %}
            value="{{search.val}}"
        {% endif %}
        />
    </div>
    {% endfor %}
    <button type="submit" value="Submit" class="btn btn-primary">
        <span class="fas fa-search"></span>
    </button>
</form>
{% endif %}
