{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}{% trans "Stock entry" %} {{object.id}}{% endblock %}

{% block page-content %}
<div>
    <table class="table">
        <tr>
            <th>{% trans "part"    %}</th>
            {% include "PnbPartKeepr/cell_img_name_link.html" with elem=object.part %}
        </tr>
        <tr>
            <th>{% trans "Quantity" %}</th>
            <td>{{ object.quantity }}</td>
        </tr>
        <tr>
            <th>{% trans "Price" %}</th>
            {% include "PnbPartKeepr/cell_price.html" with price=object.price %}
        </tr>
        <tr>
            <th>{% trans "Bought" %}</th>
            {% include "PnbPartKeepr/cell_date.html" with eDate=object.boughtAt %}
        </tr>
        <tr>
            <th>{% trans "owner"       %}</th>
            {% include "PnbPartKeepr/cell_user.html" with user=object.owner %}
        </tr>
        <tr>
            <th>{% trans "Comment" %}</th>
            <td>{{ object.comment }}</td>
        </tr>
    </table>
</div>
{% include "PnbPartKeepr/button_action.html" %}
{% endblock %}

