{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
{% include "PnbPartKeepr/search_list.html" %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Part"             %}</th>
        <th scope="col">{% trans "Quantity"         %}</th>
        <th scope="col">{% trans "Price"            %}</th>
        <th scope="col">{% trans "comment"          %}</th>
        <th scope="col">{% trans "Bought"           %}</th>
        <th scope="col">{% trans "Owner"            %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for e in object_list %}
    <tr class="pnbpartkeepr-elem-list">
        <td>{{ e.id }}</td>
        {% include "PnbPartKeepr/cell_img_name_link.html"   with elem=e.part %}
        <td>{{ e.quantity }}</td>
        {% include "PnbPartKeepr/cell_price.html"           with price=e.price %}
        {% include "PnbPartKeepr/cell_comment.html"         with elem=e %}
        {% include "PnbPartKeepr/cell_date.html"            with eDate=e.boughtAt %}
        {% include "PnbPartKeepr/cell_user.html"            with user=e.owner %}
        {% include "PnbPartKeepr/cell_action.html"          with elem=e %}
    </tr>
    {% empty %}
    {% include "PnbPartKeepr/empty_list.html" with label="No Stock" %}
    {% endfor %}
</table>
{% endblock %}

{% block page-footer %}
<a href="{% url "pnbpartkeepr.stockentry.create" attached_id=request.resolver_match.kwargs.pk %}">
    <button class="btn btn-primary">
        <span class="fas fa-plus"></span>
        {% trans 'Add a New one' %}
    </button>
</a>
{% endblock %}
