{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% endblock %}

{% block page-content %}
<div class="d-flex justify-content-around pnbpartkeepr-search-bar">
    <div class="pnbpartkeepr-search-item">
        <div class="pnbpartkeepr-search-title">
            {% trans "Storage location" %}
        </div>
    </div>
    <div class="pnbpartkeepr-search-item">
            {% include "PnbPartKeepr/search_list.html" with name="name"         value=request.GET.name%}
    </div>
    <div class="pnbpartkeepr-search-item">
        <a href="{% url "pnbpartkeepr.storagelocation.create" %}">
            <button class="btn btn-primary">
                <span class="fas fa-plus"></span>
                {% trans 'Add a New one' %}
            </button>
        </a>
    </div>
</div>
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Image"            %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Category"         %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for sl in object_list %}
    {% comment %}
    {% endcomment %}
    <tr onclick="document.location='{{ sl.get_absolute_url }}';" 
        class="pnbpartkeepr-elem-list"
        >
        <td>{{ sl.id }}</td>
        <td>{% include "PnbPartKeepr/cell_img.html"     with elem=sl %}</td>
        <td>{{ sl.name }}</td>
        <td>{% include "PnbPartKeepr/cell_name.html"    with elem=sl.category %}</td>
        <td>{% include "PnbPartKeepr/cell_action.html"  with elem=sl %}</td>
    </tr>
    {% empty %}
    {% trans "No Storage location" %}
    {% endfor %}
</table>
{% endblock %}

