{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% comment %}
{% endcomment %}

{% block page-header %}
<div class="d-flex justify-content-between">
    {% trans "Storage location Categories list" %}
    <a href="{% url "pnbpartkeepr.storagelocation.create" %}">
        <button class="btn btn-primary">
            <span class="fas fa-plus"></span>
            {% trans 'Add a New one' %}
        </button>
    </a>
</div>
{% endblock %}

{% block page-content %}
<table class="table">
    <tr>
        <th scope="col">{% trans "Id"               %}</th>
        <th scope="col">{% trans "Name"             %}</th>
        <th scope="col">{% trans "Parent"           %}</th>
        <th scope="col">{% trans "Description"      %}</th>
        <th scope="col">{% trans "Action"           %}</th>
    </tr>

    {% for slc in object_list %}
    {% comment %}
    {% endcomment %}
    <tr onclick="document.location='{{ slc.get_absolute_url }}';" 
        class="pnbpartkeepr-elem-list"
        >
        <td>{{ slc.id }}</td>
        <td>{{ slc.name }}</td>
        <td>{% include "PnbPartKeepr/cell_name.html"     with elem=slc.parent %}</td>
        <td>{{ slc.description }}</td>
        <td>{% include "PnbPartKeepr/cell_action.html"   with elem=slc %}</td>
    </tr>
    {% empty %}
    {% trans "No Part" %}
    {% endfor %}
</table>
{% endblock %}

