{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}

{% comment %}
{% endcomment %}

{% block page-header %}
{% if object %}
{% blocktrans with id=object.id %}Update {{object.get_object_name}} {{object}}{% endblocktrans %}
{% else %}
{% trans "Create" %} {{ view.model.get_object_name }}
{% endif %}
{% endblock %}

{% block page-content %}
<form action="" method="post" enctype="multipart/form-data">
    {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
</form>
{% endblock %}

