{% load i18n %}
{% comment %}
{% load django_bootstrap_breadcrumbs %}
{% endcomment %}

<!-- Nav Bar -->
<header class="navbar">
    <div class="navbar navbar-expand" role="navigation">
        <a class="navbar-brand" href="/">PnbPartKeepr</a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsMain"
                aria-controls="navbarsMain"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsMain">
            <ul class="navbar-nav ">
                {% if user.is_anonymous %}
                {% include "navbar_item.html" with routeName="login" label="login" %}
                {% else %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.part.list" label="Parts" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.footprint.list" label="Footprints" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.storagelocation.list" label="Storage locations" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.project.list" label="Projects" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.projectrun.list" label="Project Run" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.distributor.list" label="Distributors" %}
                {% include "navbar_item.html" with routeName="pnbpartkeepr.manufacturer.list" label="Manufacturers" %}
                {% include "navbar_item_categories_list.html" %}
                {% include "navbar_item.html" with routeName="logout" label="logout" %}
                {% endif %}
                {% include "navbar_item.html" with routeName="about" label="about" %}
            </ul>
        </div>
    </div>
{% comment %}
    {% block breadcrumbs %}
    {% render_breadcrumbs %}
    {% endblock %}
{% endcomment %}
</header>
<!-- Nav Bar end -->

