{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% comment %}
{% endcomment %}

<!-- Nav Bar -->
<div class="container">
    <div class="navbar navbar-expand-md navbar-static-top navbar-light bg-lignt" role="navigation">
        <a class="navbar-brand" href="/">PnbPartKeepr</a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsMain"
                aria-controls="navbarsMain"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsMain">
            <ul class="navbar-nav mr-auto">
                {% if user.is_anonymous %}
                    {% include "navbar_item.html" with routeName="login" label="login" %}
                {% else %}
                    {% include "navbar_item.html" with routeName="PnbPartKeepr_part_list" label="parts" %}
                    {% include "navbar_item.html" with routeName="PnbPartKeepr_footprint_list" label="footprints" %}
                    {% include "navbar_item.html" with routeName="PnbPartKeepr_storageLocation_list" label="storages.location" %}
                    {% include "navbar_item.html" with routeName="logout" label="logout" %}
                {% endif %}
                {% include "navbar_item.html" with routeName="about" label="about" %}
            </ul>
        </div>
    </div>
    {% block breadcrumbs %}
        {% render_breadcrumbs %}
    {% endblock %}
</div>
<!-- Nav Bar end -->

