{% load i18n %}

{% comment %}
set active = (app.request.get('_route') matches '/^'~routeName~'.*/') %}
{% endcomment %}

{% if routeName in request.resolver_match.view_name %}
<li class="nav-item dropdown active" >
    <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">
{% else %}
<li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
{% endif %}
        {% trans label %}
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url routeName|add:".list" %}"         >list</a>
        <a class="dropdown-item" href="{% url routeName|add:"category.list" %}" >category</a>
    </div>
</li>


