{%comment%} 
vim: set filetype=htmldjango 

Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</li>


{%endcomment%}
{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">Précédente</a></li>
    {% endif %}
      {% for p in page_obj.paginator.page_range %}
        
      <li {% if page_obj.number == p %}class="active"{% endif %} ><a href="?page={{ p }}">{{ p }}</a></li>
      {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Suivante</a></li>
    {% endif %}
  </div>
{% endif %}
